{% extends 'base.html.twig' %}

{% block title %}Budgetizer Home{% endblock %}
{% set currentUrl = app.request.get('_route') %}

{% block body %}
  <p class="fs-1">You earned {{incomes}} €...</p>
  <p class="fs-1 text-end">... you'll spend {{outcomes}} €.</p>
  <p class="fs-1 text-center mt-5">So you can save {{total}} €.</p>
{% endblock %}
