{% extends 'base.html.twig' %}


{% block body %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
  New income
</button>

    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">Add a new income</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{form_start(form)}}
                        {{form_widget(form)}}
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>

    {% for income in incomes %}
        {% set title = income.title %}
        {% set amount = income.amount %}
        {% set id = income.id %}
        {% include "commons/card.html.twig" %}
    {% endfor %}

{% endblock %}
