@import "~bootstrap/scss/bootstrap";
@import "/assets/icons/fontello.css";

a,
a:hover,
a:visited
{
    color: inherit;
    text-decoration: inherit;
}

a.active{
    small {
        border-bottom: 2px solid #fff;
    }
}