<div class="rounded border border-1 p-3 m-3">
    <div class="row">
        <div class="col-2 d-flex">
            <a class="m-auto" href="{{editPath}}"><i class="icon-pencil p-2 btn btn-secondary"></i></a>
        </div>
        <div class="col-8">
            <h5>{{title}}</h5>
            <p>{{amount}} €</p>
        </div>
        <div class="col-2 d-flex">
            <a class="m-auto" href="{{removePath}}"><i class="icon-trash p-2 btn btn-danger"></i></a>
        </div>
    </div>
</div>